@import url('https://fonts.googleapis.com/css?family=Roboto:300,700,900');

$background: #141414;

body{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    padding: 0;

    background: $background;
    color: whitesmoke;

    img{
        max-width: 90%;
    }
    
    h1{
        font-weight: 900;
    }

    h3{
        font-weight: 700;
    }

    p{
        font-weight: 300;
    }

    a{
        color: white;
    }

    #text{
        margin: 15px 0;
        
        h1{
            margin: 5px 0;
        }

        p{
            margin: 5px 0;
        }

        h6{
            margin: 30px 0;
            font-weight: 300;
        }

        #artist{
            margin: 10px 0;
            color: darken(whitesmoke, 60%);
        }

        #stats{
            text-align: center;
            display: grid;
            grid-template-columns: repeat(3, 33.3333%);
        }

        // #buttons{
        //     display: grid;
        //     grid-template-columns: repeat(2, 50%);
        //     grid-gap: 5px;
        // }
        
        #button-spotify{
            display: block;
            margin: 10px 0;
            padding: 10px 15px;
            background: #1ED761;
            border: 0;
            text-decoration: none;
            color: $background;
        }

        #button-preview{
            display: block;
            margin: 20px 0;
            padding: 10px 15px;
            background: #C3073F;
            border: 0;
            text-decoration: none;
            color: $background;
        }

    }
}